//bg-color
$bg-hero: #e2f2ff;
$bg-slider: #F8F8FA;
$bg-button: #5D78FF;
$bg-button-disabled: #AED1FF;
$bg-blue: #E3EEFF;
$bg-gray: #F3F4F6;

//font-color
$fc-black: #001e41;
$fc-gray: #909090;
$fc-white: #ffffff;

//border-color
$bc-header: #E5E5E5;

//font-family
$ff-primary: 'Roboto';
$ff-secondary: 'Source Sans Pro';
