.custom-btn {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 16px;
  color: $fc-white;
  background-color: $bg-button;
  border: none;
  letter-spacing: 0.08px;
  text-wrap: nowrap;
  @include media-breakpoint-down(md) {
    padding: 10px 30px;
    font-size: 14px;
  }
}