.custom-hero {
  margin-top: 117px;
  padding: 53px 64px 22px 51px;
  display: flex;
  align-items: center;
  gap: 106px;
  background-color: $bg-hero;
  border-radius: 10px;
  @include media-breakpoint-down(lg) {
    margin-top: 59px;
    padding: 22px 51px;
    gap: 0;
    flex-direction: column;
  }
  @include media-breakpoint-down(md) {
    padding: 20px 10px;
  }

  &__title {
    margin-top: 28px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.8px;
    @include media-breakpoint-down(xl) {
      margin-top: 30px;
    }
    @include media-breakpoint-down(md) {
      margin-top: 0;
      font-size: 32px;
    }
  }

  &__text {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: 0.08px;
    line-height: 150%;
    @include media-breakpoint-down(lg) {
      margin-top: 20px;
    }
    @include media-breakpoint-down(md) {
      font-size: 12px;
    }
  }

  &__sub-text {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 14px;
    color: $fc-gray;
    letter-spacing: 0.035px;
    line-height: 150%;
    @include media-breakpoint-down(lg) {
      margin-top: 10px;
      font-size: 12px;
    }
    @include media-breakpoint-down(md) {
      margin-top: 12px;
      font-size: 12px;
    }
  }

  .custom-btn {
    margin-top: 16px;
    @include media-breakpoint-down(lg) {
      margin: 10px auto 0;
    }
  }

  &__img-container {
    position: relative;
    height: auto;
    flex: 0 0 370px;
    @include media-breakpoint-down(lg) {
      margin-top: 31px;
    }
    @include media-breakpoint-down(md) {
      width: 229px;
      flex: 0 0 273px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__img-chart {
    animation: fadeIn 0.8s ease-out forwards;
    
    &:nth-child(2) {
      position: absolute;
      left: -83px;
      top: -45px;
      width: 231px;
      @include media-breakpoint-down(md) {
        width: 115px;
        left: -20px;
        top: -22px;
      }
    }
    &:nth-child(3) {
      position: absolute;
      top: 30px;
      right: -62px;
      width: 197px;
      @include media-breakpoint-down(md) {
        width: 99px;
        top: 34px;
        right: -22px;
      }
    }
    &:nth-child(4) {
      position: absolute;
      bottom: 85px;
      left: -132px;
      width: 221px;
      @include media-breakpoint-down(md) {
        width: 110px;
        left: -28px;
        bottom: 72px;
      }
    }
  }

  &__our-clients {
    margin-top: 59px;
    @include media-breakpoint-down(lg) {
      margin-top: 20px;
    }
  }

  &__clients-title {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    @include media-breakpoint-down(lg) {
      font-size: 14px;
      text-align: center;
    }
  }

  &__clients-list {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    gap: 12px 24px;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    @include media-breakpoint-down(xl) {
      justify-content: center;
    }
  }

  &__clients-item {
    display: flex;
    align-items: center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px) rotate(30deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}