//bg-color
$bg-hero: #e2f2ff;
$bg-button: #5D78FF;
$bg-button-inactive: #AED1FF;

//font-color
$fc-black: #001e41;
$fc-gray: #909090;
$fc-white: #ffffff;

//font-family
$ff-primary: 'Roboto';
$ff-secondary: 'Source Sans Pro';
